<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Minton - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- third party css -->
    <link href="/assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="/assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css">
    <!-- third party css end -->

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css">

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="/layout/navbar:: navbar" />
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="/layout/left_sidebar:: left_side" />
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                                    <li class="breadcrumb-item active">Tickets</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Tickets</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-bordered-pink" data-toggle="modal" data-target="#md_add_movie" id="btn_open_create_movie">Add movie</button>
                    </div><!-- end col -->
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card-box">


                            <table class="table table-hover m-0 table-centered dt-responsive nowrap w-100" cellspacing="0" id="tbMovies">
                                <thead class="bg-light">
                                <tr>
                                    <th class="font-weight-medium">ID</th>
                                    <th class="font-weight-medium">Title</th>
                                    <th class="font-weight-medium">Premiere Date</th>
                                    <th class="font-weight-medium">Show duration</th>
                                    <th class="font-weight-medium">Category</th>
                                    <th class="font-weight-medium">Director</th>
                                    <th class="font-weight-medium">Actor</th>
                                    <th class="font-weight-medium">Language</th>
                                    <th class="font-weight-medium">Description</th>
                                </tr>
                                </thead>
                                <tbody class="font-14">
<!--                                <tr>-->
<!--                                    <td><b>#3654</b></td>-->
<!--                                    <td>-->
<!--                                        <a href="javascript: void(0);" class="text-dark">-->
<!--                                            <img src="/assets/images/users/avatar-2.jpg" alt="contact-img" title="contact-img" class="avatar-sm rounded-circle img-thumbnail">-->
<!--                                            <span class="ml-2">Robert K. Joseph</span>-->
<!--                                        </a>-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        Support for theme-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        <a href="javascript: void(0);">-->
<!--                                            <img src="/assets/images/users/avatar-10.jpg" alt="contact-img" title="contact-img" class="avatar-sm rounded-circle img-thumbnail">-->
<!--                                        </a>-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        <span class="badge badge-secondary">Low</span>-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        <span class="badge badge-success">Open</span>-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        01/04/2017-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        21/05/2017-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        <div class="btn-group dropdown">-->
<!--                                            <a href="javascript: void(0);" class="dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>-->
<!--                                            <div class="dropdown-menu dropdown-menu-right">-->
<!--                                                <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>-->
<!--                                                <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>-->
<!--                                                <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>-->
<!--                                                <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                </tr>-->

                                </tbody>
                            </table>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        2016 - 2019 &copy; Minton theme by <a href="">Coderthemes</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">About Us</a>
                            <a href="javascript:void(0);">Help</a>
                            <a href="javascript:void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->
<th:block th:replace="/movie/md_create_movie:: md_create_movie" />

<!-- Vendor js -->
<script src="/assets/js/vendor.min.js"></script>

<!-- third party js -->
<script src="/assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="/assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<!-- third party js ends -->

<!-- init js -->

<!-- App js -->
<script src="/assets/js/app.min.js"></script>
<script src="/assets/js/app.js"></script>


<script>

    let page = {
        urls: {
            getAllMovies : App.BASE_URL_MOVIE,
            getAllCategories: App.BASE_URL_CATEGORY,
            getAllCategoriesByMovieId: App.BASE_URL_CATEGORY + "/movie/"
        },
        element: {},
        commands: {},
    }

    let categories = [];

    function loadMovies() {
        $.ajax({
            headers: {
                "Content-Type": "Application/json",
                "Accept": "Application/json"
            },
            type: "GET",
            url: page.urls.getAllMovies
        })
            .done((data) => {
                console.log(data);

                $('#tbMovies tbody').html('');

                $.each(data, (i, item) => {
                    // console.log(item);
                    let str = App.drawRowMovie(item.id, item.title, item.premiereDate, item.showDuration, item.categoryDetail, item.director, item.actor, item.language, item.description);
                    $('#tbMovies tbody').append(str);
                    // loadCategoriesByMovie(item.id);

                })

            })
    }

    function loadCategoriesByMovie(id) {
        $.ajax({
            headers: {
                "Content-Type": "Application/json",
                "Accept": "Application/json"
            },
            type: "GET",
            url: page.urls.getAllCategoriesByMovieId + id
        })
            .done((data) => {
                $('#tdCategory_' + id).html('')

                $.each(data, (i, item) => {
                    // console.log(item);
                    let str = `<span class="badge badge-warning">${item.name}</span>`;
                    $('#tdCategory_' + id).append(str);
                })

            })
    }

    function getAllCategories(){
        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "GET",
            "url": page.urls.getAllCategories,
        })
            .done((data) => {
                $('#categoryContainer').html("");
                $.each(data, (i, item) => {
                    let str = App.drawCheckboxCategory(item.id, item.name);
                    $('#categoryContainer').append(str);
                })
            })
            .fail((jqXHR) => {
                alert("fail")
                console.log(jqXHR);
            })

    }


    $('#btn_create_movie').on('click', () => {
        let movie = new Movie();
        movie.title = $('#titleCre').val();
        movie.premiereDate = $('#premiereDateCre').val();
        movie.showDuration = $('#showDurationCre').val();
        movie.director = $('#directorCre').val();
        movie.actor = $('#actorCre').val();
        movie.language = $('#languageCre').val();
        movie.description = $('#descriptionCre').val();
        movie.categories = categories;
        console.log(movie);

        $.ajax({
            "headers": {
                "accept": "application/json",
                "content-type": "application/json"
            },
            "type": "POST",
            "url": page.urls.getAllMovies + "/create",
            "data": JSON.stringify(movie)
        })
            .done((data) => {
                console.log(data);
                let str = App.drawRowMovie(data.id, data.title, data.premiereDate, data.showDuration, data.director, data.actor, data.language, data.description);
                $('#tbMovies tbody').append(str);
                loadCategoriesByMovie(data.id);
            })
            .fail((jqXHR) => {
                alert('fail');
            })
    })

    $('#btn_open_create_movie').on('click', () => {
        addCategories();
    })

    function addCategories(){
        categories = [];
        let categoryCheckboxes = $('.category');

        for(let checkbox of categoryCheckboxes){
            checkbox.addEventListener('click', function (e){
                if(e.target.checked === true){
                    categories.push({id: e.target.id.replace("category_", ""), name: e.target.name})
                }else{
                    categories = categories.filter(category => category.id !== e.target.id.replace("category_", ""))
                }
            })
        }
        return categories;
    }


    let initializeControlEvent = () => {

    }

    $(() => {
        loadMovies();
        initializeControlEvent();
        getAllCategories();
    });
</script>

</body>
</html>